.container {
    display: flex;
    margin-top: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
}

.ratings {
    display: flex;
}

.chart {
    height: 180px;
    width: 250px;
    margin: 10px;
    padding: 0;
}

.badges-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .badges-container img {
        margin: 5px;
        width: 60px;
    }

.disabled-image {
    opacity: 0.3;
    pointer-events: none;
}



@media (max-width: 1054.98px) {
    .container {
        flex-direction: column;
    }

    .chart {
        height: 140px;
        width: 180px;
    }

    .badges-container {
        display: flex;
        flex-wrap: wrap;
    }

        .badges-container img {
            margin: 2px;
            width: 50px;
        }
}

@media (max-width: 480px) {

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .ratings {
        justify-content: space-around;
    }

    .badges-container {
        display: flex;
        flex-wrap: wrap;
    }

    .chart {
        height: 120px;
        width: 160px;
    }

    .badges-container img {
        margin: 2px;
        width: 30px;
    }
}
