@using Color = MudBlazor.Color

<div class="card @player.TeamAbrv">
 
 <div class="info"> 
 <MudCardHeader>

    <CardHeaderAvatar>
        <MudAvatar Style="width: 120px; height: 100px; background: none;"  Color="Color.Surface">
            <img src="@player.ImgUrl"/>
        </MudAvatar>
    </CardHeaderAvatar>

    <CardHeaderContent>
         <p class="lastname">@player.Name</p>
        <MudText Typo="Typo.caption">
         <MudAvatar Style="vertical-align: middle; background: none" Size="Size.Small" Image=@($"Images/logos/{player.TeamAbrv}.svg") Square="true" />
          Foward
        </MudText>
    </CardHeaderContent>

 </MudCardHeader>
 </div>

 <div class="overall-stats">

     <div class="stats">
     
         <div class="ppg"> 
             <span>24.1</span>
             <p>PPG</p>
         </div>
     
         <MudDivider Vertical="true" FlexItem="true" Style="width: 0.5px"/>

         <div class="rpg"> 
             <span>6.1</span>
             <p>RPG</p>
         </div>

         <MudDivider Vertical="true" FlexItem="true" Style="width: 0.5px"/>

         <div class="apg"> 
             <span>5.0</span>
             <p>APG</p>
         </div>

         <MudDivider Vertical="true" FlexItem="true" Style="width: 0.5px"/>

          <div class="fg"> 
             <span>44.1</span>
             <p>FG%</p>
         </div>

    </div>

 </div>

</div>
