@using pax.BlazorChartJs

<MudContainer>
    <div class="container">
        
            <div class="ratings">
                <div class="chart">
                    <ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig"></ChartComponent>
                </div>
                <div class="chart">
                    <ChartComponent @ref="chartComponent2" ChartJsConfig="chartJsConfig2"></ChartComponent>
                </div>
            </div>
             <div class="badges-container">

                    <div>
                    <MudAvatarGroup Max="4" Spacing="0">
                        @foreach (var badge in badgesSkills)
                        {
                            bool playerHasBadge = rating.Skills.Contains(badge);
                            <MudTooltip Arrow="true" Placement="Placement.Top" Text="@GetBadgeName(badge)">
                                <div>
                                    <img src=@($"Images/Badges/{badge}.svg") class=" @(playerHasBadge ? "" : "disabled-image")" />
                                </div>
                            </MudTooltip>
                        }
                    </MudAvatarGroup>
                    </div>

                    <div>
                    <MudAvatarGroup Max="4" Spacing="0">
                        @foreach (var badge in badgesPhysical)
                        {
                            bool playerHasBadge = rating.Skills.Contains(badge);
                            <MudTooltip Arrow="true" Placement="Placement.Top"  Text="@GetBadgeName(badge)">
                                <div>
                                    <img src=@($"Images/Badges/{badge}.svg") class=" @(playerHasBadge ? "" : "disabled-image")" />
                                </div>
                            </MudTooltip>
                        }
                    </MudAvatarGroup>
                    </div>
                    
                </div>
    </div>
</MudContainer>
