.card-ratings {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.ratings {
    display: flex;
}

.chart {
    height: 180px;
    width: 250px;
    margin: 10px;
    padding: 0;
}

.badges {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .badges img {
        margin: 5px;
        width: 60px;
    }

.disabled-image {
    opacity: 0.3;
    pointer-events: none;
}

.card-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.bio {
    text-transform: uppercase;
}

    .bio span {
        font-weight: 100;
        font-size: 12px;
    }

    .bio span, p {
        text-transform: uppercase;
    }

.border {
    border: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media (max-width: 1054.98px) {
    .card-ratings {
        flex-direction: column;
    }

    .chart {
        height: 140px;
        width: 180px;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
    }

        .badges img {
            margin: 2px;
            width: 50px;
        }
}

@media (max-width: 640px) {

    .card-ratings {
        display: flex;
        flex-wrap: wrap;
    }

    .ratings {
        justify-content: space-around;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
    }

    .chart {
        height: 120px;
        width: 160px;
    }

    .badges img {
        margin: 2px;
        width: 30px;
    }

    .card-info {
        flex-direction: column;
    }
}
