.players {
    margin: 10px;
}

.progress {
    display: flex;
    align-items: center;
}

span {
    margin-left: 8px;
    font-size: 10px;
    font-weight: 800;
}

img {
    width: 95%;
    height: 95%;
}

.players-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .players-header h3 {
        text-align: center;
    }
