@using pax.BlazorChartJs

<div class="container">
    <MudContainer>

        <div class="ratings">
  
                <div class="chart"
                     <ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig"></ChartComponent>
                </div>

                 <div class="chart"
                     <ChartComponent @ref="chartComponent2" ChartJsConfig="chartJsConfig2"></ChartComponent>
                </div>
        </div>


        <div class="badges">
           
         <MudAvatarGroup Max="4" Spacing="0" >
            <MudAvatar Size="Size.Large" Variant="Variant.Outlined" Image="Images/Badges/Po.png" />
            <MudAvatar Size="Size.Large" Variant="Variant.Outlined" Image="Images/Badges/3.png" />
            <MudAvatar Size="Size.Large" Variant="Variant.Outlined" Image="Images/Badges/Ps.png" />
            <MudAvatar Size="Size.Large" Variant="Variant.Outlined" Image="Images/Badges/B.png" />

         </MudAvatarGroup>

        </div>


    </MudContainer>
</div>