table {
    background-color: var(--white);
    width: 100%;
    text-align: center;
    border-radius: 0.625rem;
    margin: 0.625rem 0;
}
table caption {
    color: #212529;
    font-weight: 900;
}

table th {
    font-size: 0.625rem;
}

table td {
    font-size: 0.8rem;
    white-space: nowrap
}

table, th, td {
    white-space: nowrap
}

tr:nth-child(even) {
    background-color: #FBFBFB;
}