table {
     background-color: var(--white);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 0.625rem;
    margin: 0.625rem 0;
}

table th {
    font-size: 0.625rem;
}

table td {
    font-size: 0.8rem;
}
