@using pax.BlazorChartJs
@if (_rating != null)
{

    
    <div class="card-ratings">
        
            <table class="stats">
                <thead>
                <tr>
                    <th colspan="2">RATINGS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="chart">
                            <ChartComponent @ref="_chartComponent" ChartJsConfig="_chartJsConfig"></ChartComponent>
                        </div>
                    </td>
                    <td>
                        <div class="chart">
                            <ChartComponent @ref="_chartComponent2" ChartJsConfig="_chartJsConfig2"></ChartComponent>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        
    </div>
    
}
