﻿
@page "/change-password"
@attribute [Authorize]
@inject IAuthService AuthService


<MudContainer>
    <MudGrid Class="d-flex justify-center" Style="margin-top: 100px;">
        <MudItem xs="6" sm="6">
            <MudPaper Class="pa-4">
                <EditForm Model="request" OnValidSubmit="ChangePassword">
                    <DataAnnotationsValidator />

                    <MudTextField T="string" Label="Senha" @bind-Value="request.Password" InputType="InputType.Password" Required="true" RequiredError="Senha requerida!" />
                    <ValidationMessage For="@(() => request.Password)" />   
                    
                    <MudTextField T="string" Label="Senha" @bind-Value="request.ConfirmPassword" InputType="InputType.Password" Required="true" RequiredError="Senha requerida!" />
                    <ValidationMessage For="@(() => request.ConfirmPassword)" />

                    <div class="d-flex align-center justify-space-between">
                        <MudButton Style="margin: 10px;" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">Trocar Senha!</MudButton>
                    </div>
                </EditForm>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>




                    S