﻿
@page "/profile"
@attribute [Authorize]
@inject IAuthService AuthService


<AuthorizeView>
  <MudContainer>
    <h3>Você esta logado como: <i>@context.User.Identity.Name</i>.</h3>
    <MudGrid Class="d-flex justify-center" Style="margin-top: 20px;">
   <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
    <MudButton StartIcon="@Icons.Material.Filled.CompareArrows" IconColor="Color.Primary">Trade Center</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.BusinessCenter" IconColor="Color.Primary">FA Center</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.Password" IconColor="Color.Primary">Trocar Senha</MudButton>
   </MudButtonGroup>
   </MudGrid>
  </MudContainer>
    
    

</AuthorizeView>

