﻿
@page "/profile"
@attribute [Authorize]
@inject IAuthService AuthService


<AuthorizeView>
  <MudContainer>
    <h3>Você esta logado como: <i>@context.User.Identity.Name</i>.</h3>

   <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
    <MudButton StartIcon="@Icons.Material.Filled.AlarmAdd" IconColor="Color.Warning">Trade Center</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.AlarmAdd" IconColor="Color.Warning">FA Center</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.AlarmAdd" IconColor="Color.Warning">Add alarm</MudButton>
   </MudButtonGroup>

  </MudContainer>
    
    

</AuthorizeView>

