@page "/finances"
@inject ITeamService TeamService

<div class="container">
    @if (teams != null )
    {

        <table>
            <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var team in teams)
            {
                if (team.Players.Any(p => p.Contract != null && p.Contract.Amount >= 0))
                {
                    <tr>
                        <td><img src=@($"../Images/Logos/{team.Abrv}.svg") Style="vertical-align: middle; background: none" alt="Team logo" width="25">@team.Region @team.Name</td>
                        <td>$@team.Players.Sum(player => player.Contract.Amount).ToString("N0")</td>
                        <td>$@((capSpace - team.Players.Sum(player => player.Contract.Amount)).ToString("N0"))</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
</div>