@page "/"

<PageTitle>NBALIGA - Simulation</PageTitle>
<div class="index-page">
    <section class="index-section index-standings">
        <Standings />
    </section>
    <section class="index-section index-leaderboards">
        <Leaderboards />
    </section>
</div>
