.index {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.standings, .news {
    flex: 1; /* Define a largura flexível para dividir igualmente */
    margin: 0.625rem;
}

@media only screen and (max-width: 650px) {
    .news {
        display: none;
    }
}
