@page "/"

<PageTitle>NBALIGA - Simulation</PageTitle>
<div class="container-fluid">
    <div class="standings">
        <Standings></Standings>
    </div>
    <div class="news">
        <News></News>
    </div>
    <div class="spacer"></div> 
</div>
