@page "/"

<PageTitle>NBALIGA - Simulation</PageTitle>

<div class="container-fluid">
    <div class="main">
        <div class="Standings">
            <Standings></Standings>
        </div>
        <div class="News">
            <News></News>
        </div>
    </div>
</div>