@page "/"

<PageTitle>NBALIGA - Simulation</PageTitle>

<MudContainer>
  <div class="main">
      <Standings></Standings>
      <div class="news">
      <News></News>
      </div>
  </div>
</MudContainer>
