.index {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.main-content {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
}

.standings {
    flex-grow: 1;
}

.news {
    grid-column: span 1;
}

@media (min-width: 1200px) {
    .index {
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1600px) {
    .index {
        grid-template-columns: 3fr 1fr;
    }
}

@media (max-width: 1199px) {
    .standings .table-responsive {
        grid-template-columns: 1fr;
    }
}
