.news-table {
    overflow-x: auto;
    margin: 5px;
    font-size: 12px;
}

table {
    margin: 5px;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

td {
    padding: 4px 8px;
    white-space: nowrap !important;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    width: 11px;
    vertical-align: middle;
    background: none;
}
