@page "/news"
@inject INewsService NewsService


<div>
 
    <ul class="list-group">
        <li class="list-group-item"><h5>HEADLINES</h5></li>
        @foreach (var n in news)
        {
            <li class="list-group-item">
                <img src=@($"../Images/Logos/{n.Winner}.svg") alt="Team logo" width="25"> 
                <a href="games/@n.GameId">@n.Title</a>
            </li>
        }
    </ul>
</div>