
<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Richard Jefferson marca 33 pontos contra o Timberwolves na vitória por 114-100.</h5>
        <p class="card-text"></p>
    </div>
</div>