@page "/news"
@inject INewsService NewsService

@if (news != null)
{
    <div class="news-container-compact">
        <div class="news-header">
            <span class="news-header-title">Últimas Notícias</span>
            <a href="/news" class="news-header-more">Ver mais</a>
        </div>
        <ul class="news-list">
            @foreach (var n in news)
            {
                <li class="news-item">
                    <a href="@($"players/{n.GameId}")" title="@n.Title">
                        <div class="team-logo-news @n.Winner"></div>
                        <span class="news-title">@n.Title</span>
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="loading-container">
        <Loading></Loading>
    </div>
}

