@inject INewsService NewsService

    <div class="news-table">
        <table>
            <tbody>
                @foreach (var n in news)
                {
                    <tr>
                        <td>
                              <img src=@($"Images/logos/NBA_Logo.svg") />
                            <a style="color: #0000EE" href="game/@n.GameId">@n.Title</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>