.list-group {
    height: 20rem;
    margin: 0.625rem ;
    width: 100%;
    border: none;
    border-radius: inherit;
}
.list-group-item {
    word-wrap: break-word;
    font-size: 0.8rem;
    border: none;
    
}