.standings {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.standings-table {
    margin: 10px 0;
}

a :hover {
    text-decoration: underline;
}

.standings-table td:first-child {
    min-width: 238px;
    white-space: nowrap !important;
}

@media (max-width: 640px) {


    td:nth-child(2) {
        white-space: nowrap !important;
    }
}
