table {
    background-color: var(--white);
    width: 100%;
    text-align: center;
    border-radius: 0.625rem;
    margin: 0.625rem 0;
}
table caption {
    color: #212529;
    font-weight: 900;
}

table th {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    font-size: 0.625rem;
    text-align: left;
}

table td {
    font-size: 0.8rem;
    white-space: nowrap;
    text-align: left;
    
}

table, th, td {
    white-space: nowrap
}

tr:nth-child(even) {
    background-color: #FBFBFB;
}

a {
    text-decoration: none;
}

.player-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player-pic img {
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: none;
    }
}