.fa-central{
    margin: 1rem;
    background: var(--primary-color);
    color: white;
}

.player-name {
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    font-size: 1.2rem;
}
