@page "/faoffer/{id:int}"
@attribute [Authorize]
@inject IPlayerService PlayerService
@inject ITeamService TeamService
@inject IFAService FAService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
<AuthorizeView>
@if (player != null && team != null)
 {
  <div class="container-fluid">
   
   <div class="d-flex justify-content-center">
    <button type="button" class="btn fa-central">FA Central</button>
   </div>
   
   <div class="player">
    <div class="player-name">
     <p class="align-middle">@player.Name</p>
    </div>
    
    
    
   </div>
   
  </div>
 }
</AuthorizeView>
</CascadingAuthenticationState>
