@page "/faoffer/{id:int}"
@attribute [Authorize]
@inject IPlayerService PlayerService
@inject ITeamService TeamService
@inject IFAService FAService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
<AuthorizeView>
    <div class="container">
        
        


    </div>
</AuthorizeView>
</CascadingAuthenticationState>
