.teams {
    display: flex;
    justify-content: center;
}

.team-select {
    display: flex;
    flex-wrap: wrap;
}

.select-wrapper {
    flex: 1 1 50%;
    max-width: 50%;
}

.parent-container {
    display: flex;
    flex-direction: column;
}

.finances {
    display: flex;
    justify-content: space-evenly;
}

.capspace {
    margin: 10px 0;
    text-transform: uppercase;
}

    .capspace p {
        font-weight: 800;
    }

.team-players {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-basis: 100%;
}

.mud-table {
    border-collapse: collapse;
}

    .mud-table th, .mud-table td {
        border: 1px solid #ccc;
        padding: 8px;
    }

.border {
    border-radius: 4px;
    border: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.send {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.pp {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .teams {
        flex-direction: column;
    }

    .finances {
        height: 100%;
    }

    .send h3 {
        font-size: 15px;
    }

    .capspace {
        position: relative;
        padding: 10px 0;
        vertical-align: top;
        text-align: center;
    }

        .capspace p {
            font-size: 10px;
            font-weight: 800;
        }
}
