.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 10px; 
}

.team-img {
    width: 100%;
    text-align: center; 
}

.team-img img {
    max-width: 100%;
    height: auto;
    display: inline-block; 
}
