@page "/teams"
@inject ITeamService TeamService
@inject NavigationManager NavigationManager

@if (_teams != null && _east != null && _west != null)
{
    <div class="container">
    <div class="image-container">
        @foreach (var team in _east)
        {
            <img src="@($"../Images/Logos/{team.Abrv}.svg")" width="60" alt="Foto do jogador">
        }
    </div>
    </div>

}

