@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject ISeasonService SeasonService
<div class="page">

    <div class="navigation">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {

        var result = await SeasonService.GetLastSeason();
        if (!result.Success)
        {
        }
        else
        {
            await LocalStorage.SetItemAsync("season", result.Data.Year.ToString());
        }
    }

}