.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

}
