@inherits LayoutComponentBase
@using Color = MudBlazor.Color

<MudThemeProvider  Theme="myTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar  Color="Color.Primary"  Fixed="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <h2>NBALIGA</h2> 
        <MudSpacer />
        <MudTextField  @bind-Value="Search" Placeholder="Procure um jogador..." Style="color: white; height: 40px; vertical-align: middle" Variant="Variant.Outlined" Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    public string Search { get; set;}

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private MudTheme myTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#03234C",
            Secondary = "#9100C0", //roxo
            Info = "#094ECA", //azul
            Success = "#377C00", //verde
            Warning = "#EBBF00",//amarelo
            Error = "#cf080f", //vermelho
            AppbarBackground = "#85144b",
         
        }
    };
}