@inherits LayoutComponentBase
<div class="page">

    <div class="navigation">
        <NavMenu />
    </div>

    <main>
        <article class="container px-4">
            @Body
        </article>
    </main>
</div>