@inherits LayoutComponentBase
<div class="page">

    <div class="navigation">
        <NavMenu/>
        <Toasts class="p-3" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />
    </div>

    <main>
        @Body
    </main>
</div>
