.navbar {
    background: var(--primary-color);
}

.navbar-brand  {
    margin: 0.3rem 0.50rem;
    color: white;
    font-weight: 600;
}

.navbar-brand img {
    vertical-align: middle;
}

.nav-item a {
    padding: 0.625rem;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
}

.nav-item a:hover {
    color: grey;
    text-decoration-line: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: white;
}

.search {
    width: 50%; 
}

.search .form-control {
    background-color: transparent !important;
    color: white;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.dropdown-menu {
    background: var(--primary-color);
    color: white;
    font-size: 0.875rem;
}

.dropdown-menu a:hover {
    background: var(--primary-color);
    color: white;
    font-size: 0.875rem;
}

.team-img {
    display: flex;
    flex-wrap: wrap;
}

.login-nav i {
    font-weight: 800;
    color: white;
}

@media only screen and (min-width: 601px) {
    .navbar-brand  {
        margin: 0.3rem 1rem;
    }

    .search {
        width: 35%; 
    }
}

