<nav class="nav menu">
    <div class="menu-body">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Times</a>
        <a class="nav-link" href="#">Classificação</a>
        <a class="nav-link" href="#">Calendário</a>
        <a class="nav-link" href="#">Estatísticas</a>
        <a class="nav-link" href="#">Draft</a>
        <a class="nav-link" href="#">Jogadores</a>
    </div>
</nav>