@using NBALigaSimulation.Shared.Dtos.Teams
@inject NavigationManager NavigationManager
@inject ISeasonService SeasonService
@inject ITeamService TeamService

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="Images/Utils/basketball.svg" height="25">
            NBALIGA
        </a>
        <div class="d-flex flex-row align-items-center">
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Ícone de login -->
            <div class="d-lg-none">
                <a class="btn btn-outline-light" href="#" type="button" data-bs-toggle="modal" data-bs-target="#loginModel"><i class="bi bi-person"></i></a>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Liga</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/comparison">Sobre</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teams">Times</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendário</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Estatísticas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/stats">Players Estatísticas</a></li>
                        <li><a class="dropdown-item" href="/stats/teams">Team Estatísticas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Draft</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jogadores</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/comparison">Comparação</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Ícone de login para telas maiores -->
            <div class="d-none d-lg-block">
                <a class="btn btn-outline-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModel"><i class="bi bi-person"></i></a>
            </div>
        </div>
    </div>
</nav>

<!-- Modal Logado-->
<div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModel">Manager Painel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Logout</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Logado-->

<!-- Modal Login-->
<div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModel">Manager Painel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background: var(--primary-color); color: white">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Login-->

@code {

    private List<TeamSimpleDto> _teams = new List<TeamSimpleDto>();
    protected List<TeamSimpleDto> _east;
    protected List<TeamSimpleDto> _west;

    protected override async Task OnInitializedAsync()
    {

        var result = await TeamService.GetAllTeams();
        
        if (result.Success)
        {
            _teams = result.Data;
            _east = _teams.Where(t => t.Conference == "East").ToList();
            _west = _teams.Where(t => t.Conference == "West").ToList();
        }
    }
    
    private  void NavigateToTeamPage(int teamId)
    {
        NavigationManager.NavigateTo($"/teams/{teamId}");
    }

 
    private async Task Logout()
    {
        NavigationManager.NavigateTo("");
    }

}