.navbar {
    background: var(--primary-color);
}

.navbar-brand  {
    margin: 0.3rem 1rem;
    color: white;
    font-weight: 600;
} 

.navbar-brand img {
    vertical-align: middle;
}

.nav-item a {
    padding: 0.625rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

    .nav-item a:hover {
        color: grey;
    }
