<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    
        <a class="navbar-brand" href="#">
            <img  src="Images/Utils/basketball.svg" height="25">
            NBALIGA
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Times</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Classificação</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Calendário</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Estatísticas</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Draft</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Jogadores</a>
                </li>
                
            </ul>
         
           <form class="d-flex w-50" role="search">
               <input class="form-control me-2 flex-grow-1" type="search" placeholder="Procurar Jogador..." aria-label="Search">
           </form>
            
        </div>
    </div>
</nav>