@using NBALigaSimulation.Client.Services.AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject ISeasonService SeasonService
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime;


<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="Images/Utils/basketball.svg" height="30" alt="NBA Logo">
            <span>NBALIGA</span>
        </a>
        <div class="d-flex flex-row align-items-center">
            <button id="navbarTogglerButton" class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Ícone de login mobile -->
            <div class="d-lg-none">
                <a class="btn btn-outline-light" href="#" type="button" data-bs-toggle="modal" data-bs-target="#loginModel">
                    <i class="bi bi-person-circle"></i>
                </a>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="FecharMenu">
                        <i class="bi bi-house-door me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-trophy me-1"></i>Liga
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/teams" @onclick="FecharMenu"><i class="bi bi-people me-2"></i>Times</a></li>
                        <li><a class="dropdown-item" href="/calendar" @onclick="FecharMenu"><i class="bi bi-calendar-event me-2"></i>Calendário</a></li>
                        <li><a class="dropdown-item" href="/picks" @onclick="FecharMenu"><i class="bi bi-list-ol me-2"></i>Draft Pick</a></li>
                        <li><a class="dropdown-item" href="/finances" @onclick="FecharMenu"><i class="bi bi-cash-coin me-2"></i>Finanças</a></li>
                        <li><a class="dropdown-item" href="/awards" @onclick="FecharMenu"><i class="bi bi-trophy me-2"></i>Awards</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person me-1"></i>Jogadores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/comparison" @onclick="FecharMenu"><i class="bi bi-arrow-left-right me-2"></i>Comparação</a></li>
                        <li><a class="dropdown-item" href="/freeagency" @onclick="FecharMenu"><i class="bi bi-person-plus me-2"></i>Free Agents</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-graph-up me-1"></i>Estatísticas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/stats" @onclick="FecharMenu"><i class="bi bi-person-badge me-2"></i>Player Stats</a></li>
                        <li><a class="dropdown-item" href="/stats/teams" @onclick="FecharMenu"><i class="bi bi-bar-chart me-2"></i>Team Stats</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-calendar-check me-1"></i>Pós Temporada
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/playoffs" @onclick="FecharMenu"><i class="bi bi-trophy me-2"></i>Playoffs</a></li>
                        <li><a class="dropdown-item" href="/draft" @onclick="FecharMenu"><i class="bi bi-shield-check me-2"></i>Draft</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Ícone de login para telas maiores -->
            <div class="d-none d-lg-block">
                <a class="btn btn-outline-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModel">
                    <i class="bi bi-person-circle"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

@if (!_isLogged)
{
    <!-- Modal login-->
    <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModel">
                    <i class="bi bi-person-circle me-2"></i>Iniciar Sessão
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form @onsubmit="HandleLogin">
                <div class="modal-body">
                       <div class="form-group mb-3">
                           <label for="username" class="form-label">Usuário</label>
                           <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" @bind="user.Username" required>
                           <div class="invalid-feedback">Nome de usuário é requerido!</div>
                       </div>
                   
                       <div class="form-group mb-3">
                           <label for="password" class="form-label">Senha</label>
                           <input type="password" class="form-control" id="password" placeholder="Digite sua senha" @bind="user.Password" required>
                           <div class="invalid-feedback">Senha requerida!</div>
                       </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-box-arrow-in-right me-2"></i>Logar-se
                    </button>
                </div>
               </form>
            </div>
        </div>
    </div>
    <!-- Modal login-->
}

@if (_isLogged)
{
    <!-- Modal logado-->
    <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModel">
                        <i class="bi bi-person-check me-2"></i>Bem vindo, @userName
                        <img src=@($"../Images/Logos/{userTeam}.svg") Style="vertical-align: middle; background: none" alt="Team logo" width="35" class="ms-2">
                    </h1>
                    <button type="button" id="modalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" data-bs-dismiss="modal" >
                            <a href="/teams/rotation" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                <i class="bi bi-arrow-repeat me-2"></i>Verificar Rotação
                            </a></li>
                        <li class="list-group-item">
                            <a href="/teams/gameplan" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                <i class="bi bi-gear me-2"></i>Verificar Gameplan
                            </a></li>
                        <li class="list-group-item">
                            <a href="/trades" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                <i class="bi bi-arrow-left-right me-2"></i>Trade Center
                            </a></li>
                        <li class="list-group-item">
                            <a href="/freeagency" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                <i class="bi bi-person-plus me-2"></i>Free Agency
                            </a></li>
                    </ul>
                    @if (_isAdmin)
                    {
                        <hr class="my-3" style="border-color: rgba(255,255,255,0.2);"/>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" data-bs-dismiss="modal">
                                <a href="/admin" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal">
                                    <i class="bi bi-shield-check me-2"></i>Painel Administrativo
                                </a></li>
                        </ul> 
                    }
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="Logout">
                        <i class="bi bi-box-arrow-right me-2"></i>Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal logado-->
}




