.menu {
    display: flex;
    background: var(--primary-color);
    height: 4.5rem;
    align-items: center;
    justify-content: space-between; 
    padding: 0 10px;
}

.brand {
    margin: 0.3rem;
    color: white;
    margin-right: auto; 
} 

.brand img {
    vertical-align: top;
}

.menu-body {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    justify-content: center; 
}

.menu a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

    .menu a:hover {
        color: grey;
    }
