@using NBALigaSimulation.Client.Services.AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject ISeasonService SeasonService
@inject ITeamService TeamService
@inject IGameService GameService
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime;


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="Images/Utils/basketball.svg" height="25">
            NBALIGA
        </a>
        <div class="d-flex flex-row align-items-center">
            <button id="navbarTogglerButton" class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Ícone de login -->
            <div class="d-lg-none">
                <a class="btn btn-outline-light" href="#" type="button" data-bs-toggle="modal" data-bs-target="#loginModel"><i class="bi bi-person"></i></a>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="FecharMenu">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Liga</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/finances" @onclick="FecharMenu">Finanças</a></li>
                        <li><a class="dropdown-item" href="/picks" @onclick="FecharMenu">Draft Picks</a></li>
                        <li><a class="dropdown-item" href="/comparison" @onclick="FecharMenu">Sobre</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teams" @onclick="FecharMenu"> Times</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar" @onclick="FecharMenu">Calendário</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Estatísticas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/stats" @onclick="FecharMenu">Players Estatísticas</a></li>
                        <li><a class="dropdown-item" href="/stats/teams" @onclick="FecharMenu">Team Estatísticas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Draft</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jogadores</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/comparison" @onclick="FecharMenu">Comparação</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Ícone de login para telas maiores -->
            <div class="d-none d-lg-block">
                <a class="btn btn-outline-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModel"><i class="bi bi-person"></i></a>
            </div>
        </div>
    </div>
</nav>

@if (!_isLogged)
{
    <!-- Modal login-->
    <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModel">Iniciar Sessão</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form @onsubmit="HandleLogin">
                <div class="modal-body">
                       <div class="form-group">
                           <label for="username">Usuário</label>
                           <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" @bind="user.Username" required>
                           <div class="invalid-feedback">Nome de usuário é requerido!</div>
                       </div>
                   
                       <div class="form-group">
                           <label for="password">Senha</label>
                           <input type="password" class="form-control" id="password" placeholder="Digite sua senha" @bind="user.Password" required>
                           <div class="invalid-feedback">Senha requerida!</div>
                       </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Logar-se</button>
                </div>
               </form>
            </div>
        </div>
    </div>
    <!-- Modal login-->
}

@if (_isLogged)
{
    <!-- Modal logado-->
    <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModel">Bem vindo, @userName  <img src=@($"../Images/Logos/{userTeam}.svg") Style="vertical-align: middle; background: none" alt="Team logo" width="35" ></h1>
                    <button type="button" id="modalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" data-bs-dismiss="modal" >
                            <a href="/teams/rotation" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                Verificar Rotação
                            </a></li>
                        <li class="list-group-item">
                            <a href="/teams/gameplan" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                Verificar Gameplan
                            </a></li>
                        <li class="list-group-item">
                            <a href="/trades" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                Trade Center
                            </a></li>
                        <li class="list-group-item">
                            <a href="/freeagency" class="list-group-item list-group-item-action" aria-current="true" @onclick="FecharMOdal" >
                                Free Agency
                            </a></li>
                    </ul>
                    @if (_isAdmin)
                    {
                        <hr/>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a @onclick="@SimGameByDateRegular" class="list-group-item list-group-item-action" aria-current="true">
                                    Simular uma semana
                                </a></li>
                        </ul> 
                    }
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="Logout">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal logado-->
}




