.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.card {
    margin-top: 10px;
    width: 190px;
}

    .card img {
        width: 100px;
        background-image: none;
    }

    .card p, span {
        color: white;
    }

    .card p {
        font-size: 10px;
    }

    .card span {
        font-weight: 800;
        font-size: 11px;
    }

@media (max-width: 640px) {

    .container {
        flex-wrap: wrap;
    }

    .card {
        width: 165px
    }

        .card p {
            font-size: 8px;
            padding: 0;
            margin: 0;
        }

        .card span {
            font-weight: 800;
            font-size: 8px;
            padding: 0;
            margin: 0;
        }
}
