table {
    background-color: var(--white);
    width: 100%;
    text-align: center;
    margin: 0.625rem 0;
}
table caption {
    color: #212529;
    font-weight: 900;
}

table th {
    font-size: 0.625rem;
    white-space: nowrap;
}

table td {
    font-size: 0.8rem;
    white-space: nowrap
}

table span {
    font-size: 0.6rem;
    color: grey;
    margin: 0.100rem;
}


table{
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #FBFBFB;
}

th:first-child, td:first-child
{
    position:sticky;
    left:0px;
}

a {
    text-decoration: none;
}