h5 {
    margin: 0.625rem ;
    font-weight: 900;
}

table {
    background-color: var(--white);
    width: 100%;
    text-align: center;
    margin: 0.625rem 0;
}
table caption {
    color: #212529;
    font-weight: 900;
}

table th {
    font-size: 0.625rem;
    white-space: nowrap;
}

table td {
    font-size: 0.8rem;
    white-space: nowrap
}

table{
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #FBFBFB;
}

@media screen and (max-width: 600px) {
    
    select{
        width: 80px;
    }
}