.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container {
    margin: 10px;
}

.player {
    display: flex;
    justify-content: space-around;
}

.info p {
    font-weight: 800;
}

.info a {
    color: blue;
    font-weight: 800;
}

    .info a:hover {
        text-decoration: underline;
    }


.info span {
    color: red;
}

tbody {
    white-space: nowrap;
}

.score {
    display: flex;
    justify-content: center;
}

    .score p {
        font-size: 20px;
        font-weight: 800;
    }


a {
    color: blue;
}

    a:hover {
        text-decoration: underline;
    }

@media (max-width: 640px) {
    .player {
        flex-direction: column;
    }

    .players-home, .players-away {
        margin: 10px;
    }
}
