@page "/playoffs"
@inject IPlayoffsService PlayoffsService

<MudContainer>
@if (series != null)
{
		
<div class="playoff-table">
    <div class="playoff-table-content">
        <div class="playoff-table-tour">
            @foreach (var seriesItem in series)
            {
                var serie = seriesItem.Value;

                <div class="playoff-table-group">
                    <div class="playoff-table-pair playoff-table-pair-style">
                        <div class="playoff-table-left-player"><MudAvatar Style="vertical-align: middle; background: none" Size="Size.Small" Image=@($"Images/logos/{serie.teamOneAbrv}.svg") Square="true" /> @serie.teamOneName</div>
                        <div class="playoff-table-right-player"><MudAvatar Style="vertical-align: middle; background: none" Size="Size.Small" Image=@($"Images/logos/{serie.teamTwoAbrv}.svg") Square="true" /> @serie.teamTwoName</div>
                    </div>
                </div>
            }
        </div>

        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
            </div>
        </div>

        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
            </div>
        </div>

        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Иванов</div>
                    <div class="playoff-table-right-player">Сидоров</div>
                </div>
               
            </div>
        </div>
    </div>
</div>
}
</MudContainer>