body {
    color: #000000;
}

td.main {
    font-size: 10pt;
    font-weight: 500;
    color: #000000;
}

a.linkmain {
    font-size: 10pt;
    font-weight: 500;
    color: #000000;
}

a.linkhuman {
    font-size: 10pt;
    font-weight: 500;
    color: #0000FF;
}

td.header {
    background: #990000;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
}

td.plainheader {
    background: #990000;
    font-family: tahoma;
    font-size: 24pt;
    font-weight: bold;
    color: #FFFFFF;
}

td.headerbg {
    background: #990000;
    font-family: tahoma;
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
}

tr.row1 {
    background: #F8F8F8;
}

tr.row2 {
    background: #E7E7E7;
}

tr.teamcolor {
    background: #990000;
    color: #FFFFFF;
}

td.teamheader {
    background: #990000;
    font-family: tahoma;
    font-size: 24pt;
    font-weight: bold;
    color: #FFFFFF;
}

td.teamheader2 {
    background: #990000;
    font-family: tahoma;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
}

td.tableheader {
    font-size: 14pt;
    font-weight: bold;
    color: #000000;
}

td.newheader {
    font-family: tahoma;
    font-size: 24pt;
    font-weight: bold;
    color: #000000;
}
