@page "/draft/lottery"
@inject IDraftService DraftService

@if(lottery != null)
{
 <h1>NBALIGA DRAFT LOTTERY @lottery.Season</h1>
<div class="container">
 <div class="container-balls">
    <section class="stage">
    <h6>1st</h6>
      <figure class="ball">
        <span class="number">
          <img src=@($"Images/Logos/{lottery.FirstTeam}.svg") id="team1" />
        </span>
      </figure>
    </section>
    <section class="stage">
    <h6>2nd</h6>
      <figure class="ball">
        <span class="number"
          > <img src=@($"Images/Logos/{lottery.SecondTeam}.svg") id="team2" /></span>
      </figure>
    </section>
    <section class="stage">
    <h6>3rd</h6>
      <figure class="ball">
        <span class="number">
             <img src=@($"Images/Logos/{lottery.ThirdTeam}.svg") id="team3" />
      </span>
      </figure>
    </section>
    <section class="stage">
    <h6>4th</h6>
      <figure class="ball">
        <span class="number">
           <img src=@($"Images/Logos/{lottery.FourthTeam}.svg") id="team4" />
          </span>
      </figure>
    </section>
    <section class="stage">
     <h6>5th</h6>
      <figure class="ball">
        <span class="number">
             <img src=@($"Images/Logos/{lottery.FifthTeam}.svg") id="team5" />
            </span>
      </figure>
    </section>
    <section class="stage">
     <h6>6th</h6>
      <figure class="ball">
        <span class="number">
            <img src=@($"Images/Logos/{lottery.SixthTeam}.svg") id="team6" />
         </span>
      </figure>
    </section>
  </div>
</div>
}