
h1 {
    margin: 20px;
    text-align: center;
    color: #03234c
}

.container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: #03234c;
    justify-content: center;
    align-items: center;
}


.container-balls {
    display: flex;
    margin: 0.5rem auto;
}

.ball {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
    overflow: hidden;
    animation: ballGrow 2s ease-out forwards;
    transform: scale(0.5);
}

    .ball p {
        margin-left: 2rem;
    }

    .ball img {
        width: 7rem;
        vertical-align: middle;
    }

    .ball:after {
        content: "";
        position: absolute;
        top: 5%;
        left: 10%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 24%);
    }

.stage {
    display: inline-block;
    margin: 5px;
}

.number {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    animation: ballRoll 2s ease-out;
}

    .number:after {
        position: absolute;
        transform: translateX(-75%);
        opacity: 0;
        animation: numberReveal 0.1s 1.5s reverse forwards;
    }

    .number:before {
        content: "\00a0 \00a0  ?  ";
        position: absolute;
        transform: translateX(-25%);
        animation: numberReveal 0.1s 1.5s forwards;
    }

@keyframes ballRoll {
    0%, 20%, 50% {
        opacity: 1;
        transform: translateY(0) rotateX(0) scale(1);
    }

    10%, 35%, 75% {
        transform: translateY(100%) rotateX(170deg) scale(0.4);
    }

    11%, 36%, 76% {
        transform: translateY(-100%) rotateX(-170deg) scale(0.3);
        opacity: 0;
    }
}

@keyframes ballGrow {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes numberReveal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.stage:nth-child(2) .ball,
.stage:nth-child(2) .number {
    animation-delay: 0.3s;
}

    .stage:nth-child(2) .number:after,
    .stage:nth-child(2) .number:before {
        animation-delay: 1.8s;
    }

.stage:nth-child(3) .ball,
.stage:nth-child(3) .number {
    animation-delay: 0.6s;
}

    .stage:nth-child(3) .number:after,
    .stage:nth-child(3) .number:before {
        animation-delay: 2.1s;
    }

.stage:nth-child(4) .ball,
.stage:nth-child(4) .number {
    animation-delay: 0.9s;
}

    .stage:nth-child(4) .number:after,
    .stage:nth-child(4) .number:before {
        animation-delay: 2.4s;
    }

.stage:nth-child(5) .ball,
.stage:nth-child(5) .number {
    animation-delay: 0.12s;
}

    .stage:nth-child(5) .number:after,
    .stage:nth-child(5) .number:before {
        animation-delay: 2.4s;
    }

.stage:nth-child(6) .ball,
.stage:nth-child(6) .number {
    animation-delay: 0.15s;
}

    .stage:nth-child(6) .number:after,
    .stage:nth-child(6) .number:before {
        animation-delay: 2.4s;
    }

#team1 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

#team2 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

#team3 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}

#team4 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

#team5 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

#team6 {
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 680px) {
    .container {
        width: 100%;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }

    .container-balls {
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }

        .container-balls h6 {
            padding: 0;
            margin: 0;
        }

    .ball {
        width: 8rem;
        height: 8rem;
    }
}
