:root {
    /* Team Colors */
    --ATL-p: #E03A3E; --ATL-s: #C1D32F;
    --BKN-p: #000000; --BKN-s: #FFFFFF;
    --BOS-p: #007A33; --BOS-s: #BA9653;
    --CHA-p: #1D1160; --CHA-s: #00788C;
    --CHI-p: #CE1141; --CHI-s: #000000;
    --CLE-p: #860038; --CLE-s: #FDBB30;
    --DAL-p: #00538C; --DAL-s: #B8C4CA;
    --DEN-p: #0E2240; --DEN-s: #FEC524;
    --DET-p: #C8102E; --DET-s: #1D42BA;
    --GSW-p: #1D428A; --GSW-s: #FFC72C;
    --HOU-p: #CE1141; --HOU-s: #C4CED4;
    --IND-p: #002D62; --IND-s: #FDBB30;
    --LAC-p: #C8102E; --LAC-s: #1D428A;
    --LAL-p: #552583; --LAL-s: #FDB927;
    --MEM-p: #5D76A9; --MEM-s: #12173F;
    --MIA-p: #98002E; --MIA-s: #F9A01B;
    --MIL-p: #00471B; --MIL-s: #EEE1C6;
    --MIN-p: #0C2340; --MIN-s: #236192;
    --NOP-p: #0C2340; --NOP-s: #C8102E;
    --NYK-p: #006BB6; --NYK-s: #F58426;
    --OKC-p: #007AC1; --OKC-s: #EF3B24;
    --ORL-p: #0077C0; --ORL-s: #C4CED4;
    --PHI-p: #006BB6; --PHI-s: #ED174C;
    --PHO-p: #1D1160; --PHO-s: #E56020;
    --POR-p: #E03A3E; --POR-s: #000000;
    --SAC-p: #5A2D81; --SAC-s: #63727A;
    --SAS-p: #C4CED4; --SAS-s: #000000;
    --TOR-p: #CE1141; --TOR-s: #A1A1A4;
    --UTA-p: #002B5C; --UTA-s: #F9A01B;
    --WAS-p: #002B5C; --WAS-s: #E31837;
    --FA-p: #6c757d; --FA-s: #adb5bd;
    --Draft-p: #343a40; --Draft-s: #ced4da;
}

.PHI {
    background: url("../Images/Logos/PHI.svg");
}

.MIL {
    background: url("../Images/Logos/MIL.svg");
}

.CHI {
    background: url("../Images/Logos/CHI.svg");
}

.BOS {
    background: url("../Images/Logos/BOS.svg");
}

.LAC {
    background: url("../Images/Logos/LAC.svg");
}

.MEM {
    background: url("../Images/Logos/MEM.svg");
}

.ATL {
    background: url("../Images/Logos/ATL.svg");
}

.MIA {
    background: url("../Images/Logos/MIA.svg");
}

.CHA {
    background: url("../Images/Logos/CHA.svg");
}

.UTA {
    background: url("../Images/Logos/UTA.svg");
}

.NYK {
    background: url("../Images/Logos/NYK.svg");
}

.LAL {
    background: url("../Images/Logos/LAL.svg");
}

.DAL {
    background: url("../Images/Logos/DAL.svg");
}

.IND {
    background: url("../Images/Logos/IND.svg");
}

.NOP {
    background: url("../Images/Logos/NOP.svg");
}

.DET {
    background: url("../Images/Logos/DET.svg");
}

.TOR {
    background: url("../Images/Logos/TOR.svg");
}

.HOU {
    background: url("../Images/Logos/HOU.svg");
}

.SAS {
    background: url("../Images/Logos/SAS.svg");
}

.OKC {
    background: url("../Images/Logos/OKC.svg");
}

.MIN {
    background: url("../Images/Logos/MIN.svg");
}

.POR {
    background: url("../Images/Logos/POR.svg");
}

.GSW {
    background: url("../Images/Logos/GSW.svg");
}

.CLE {
    background: url("../Images/Logos/CLE.svg");
}

.BKN {
    background: url("../Images/Logos/BKN.svg");
}

.PHO {
    background: url("../Images/Logos/PHO.svg");
}

.Draft {
    background: url("../Images/Logos/Draft.svg");
}

.FA {
    background: url("../Images/Logos/FA.svg");
}

.rating-roxo {
    background: #9000C0;
}

.rating-azul {
    background: #094ECB;
}

.rating-verde {
    background: #377C00;
}

.rating-amarelo{
    background: #EBBF00;
}

.rating-laranja {
    background: #EB8500;
}

.rating-vermelho {
    background: #C33306;
}

.text-win {
    color: green;
}

.text-loss {
    color: red;
}




