.PHI {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/PHI.svg");
}

.MIL {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/MIL.svg");
}

.CHI {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/CHI.svg");
}

.BOS {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/BOS.svg");
}

.LAC {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/LAC.svg");
}

.MEM {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/MEM.svg");
}

.ATL {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/ATL.svg");
}

.MIA {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/MIA.svg");
}

.CHA {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/CHA.svg");
}

.UTA {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/UTA.svg");
}

.NYK {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/NYK.svg");
}

.LAL {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/LAL.svg");
}

.DAL {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/DAL.svg");
}

.IND {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/IND.svg");
}

.NOP {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/NOP.svg");
}

.DET {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/DET.svg");
}

.TOR {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/TOR.svg");
}

.HOU {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/HOU.svg");
}

.SAS {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/SAS.svg");
}

.OKC {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/OKC.svg");
}

.MIN {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/MIN.svg");
}

.POR {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/POR.svg");
}

.GSW {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/GSW.svg");
}

.CLE {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/CLE.svg");
}

.BKN {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/BKN.svg");
}

.PHO {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/PHO.svg");
}

.Draft {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/Draft.svg");
}

.FA {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/Logos/FA.svg");
}

.rating-roxo {
    background: #9000C0;
}

.rating-azul {
    background: #094ECB;
}

.rating-verde {
    background: #377C00;
}

.rating-amarelo{
    background: #EBBF00;
}

.rating-laranja {
    background: #EB8500;
}

.rating-vermelho {
    background: #C33306;
}