 <div class="container">
        @if (_team != null & _picks != null)
        {
            <table>
                <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var pick in _picks)
                {
                    
                    <tr>
                        <td>@pick.Year</td>
                        <td>@pick.Round</td>
                        <td>
                            <img src=@($"../Images/Logos/{pick.TeamName}.svg") Style="vertical-align: middle; background: none" alt="Team logo" width="35"> 
                        </td>
                        <td>
                            <img src=@($"../Images/Logos/{pick.Original}.svg") Style="vertical-align: middle; background: none" alt="Team logo" width="35">
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            
        }
    </div>