@using NBALigaSimulation.Client.Utilities
@if (_team != null)
{
    
    <div class="team-header @_team.Abrv">
        
        <div class="team-header-card">
        
            <div class="team-header-card-bio">
        
                <div class="team-header-card-img">
                    <img src=@($"../Images/Logos/{_team.Abrv}.svg")  alt="Logo do time">
                </div>
            
                <div class="team-header-card-info">
                    <h3>@_team.Region @_team.Name</h3>
                    <p> - </p>
                </div>
            
            </div>
            
            @if (_team != null)
            {
                
                <div class="team-header-stats">
                    <table class="stats">
                        <thead>
                        <tr>
                            <th colspan="4">SEASON STATS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span>PPG</span>
                                111.5
                                <p class="rank">8TH</p>
                            </td>
                            <td>
                                <span>RPG</span>
                                40.0
                                <p class="rank">18TH</p>
                            </td>
                            <td>
                                <span>APG</span>
                                37.2
                                <p class="rank">10TH</p>
                            </td>
                            <td>
                                <span>OPPG</span>
                                99.8
                                <p class="rank">13TH</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
            }
        </div>
    </div>
    
}