name: CI/CD Deploy NBA Liga Simulation

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy dentro do container
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS }} 
          port: 22
          script: |
            echo "Entrando no container para atualizar código e rodar Server..."

            # Atualiza código dentro do container
            docker exec nb-dotnet-dev-1 git -C /app/NBALigaSimulation pull origin master

            # Mata o server antigo (se houver algum processo rodando)
            docker exec nb-dotnet-dev-1 sh -c "kill \$(pgrep -f 'dotnet .*Server') || true"

            # Roda o Server exatamente como você faz manualmente
            docker exec nb-dotnet-dev-1 dotnet run --project /app/NBALigaSimulation/NBALigaSimulation/Server/
