name: CI/CD Deploy NBA Liga Simulation

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy dentro do container
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS }} 
          port: 22
          script: |
            echo "Entrando no container para atualizar código e rodar Server..."
            docker exec nb-dotnet-dev-1 bash -c "
              set -e   # Para falhar se algum comando der erro
              
              echo 'Indo para raiz do projeto...';
              cd /app/NBALigaSimulation;

              echo 'Fazendo git pull...';
              git pull origin master;

              echo 'Parando Server antigo...';
              pkill -f 'dotnet .*Server' || true;

              echo 'Limpando build antigo...';
              cd NBALigaSimulation/Server;
              dotnet clean
              rm -rf bin obj

              echo 'Restaurando e buildando Server...';
              dotnet restore
              dotnet build

              echo 'Buildando Client Blazor...';
              cd ../Client
              dotnet clean
              rm -rf bin obj
              dotnet restore
              dotnet build -c Release

              echo 'Rodando Server em background...';
              cd ../Server
              dotnet run > server.log 2>&1 &

              echo 'Deploy concluído dentro do container!'
            "
